/* Cambios en los fondos*/
.panel {
    -fx-background-color: #D6EAF8;
}

/*Cambios en el menú*/
.menu-bar {
    -fx-background-color: derive(#000080,20%);
}
.context-menu {
    -fx-background-color: derive(#000080,50%);
}
.menu-bar .label {
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

/*Cmabios en los botones*/
.button {
    -fx-background-color: #000080;
    -fx-text-fill: white;
}

/*Cambios en las etiquetas*/
.label {
    -fx-text-fill: #000080;
}

/*Cambios en las tablas*/
.mitable-view {
    -fx-base: #D6EAF8;
}
.error {
    -fx-text-fill:#eb0b12;
}
.numberGreen {
    -fx-text-fill: rgba(6, 83, 6, 0.97);
    -fx-text-alignment: right;
}
.numberRed {
    -fx-text-fill:#eb0b12;
    -fx-text-alignment: right;
}
.azulBig {
    -fx-text-fill: #000080;
    -fx-font-style: bold;
    -fx-font-size: 14px;
    -fx-text-alignment: left;
}
#paneImage{
    -fx-background-image: url("finPlanner200.png");
    -fx-background-repeat : no-repeat;
    -fx-background-position: right;
}

#imageEuro {
    -fx-background-image: url("euro.png");
    -fx-background-size: cover;
}
.imageEuro2 {
    -fx-background-image: url("euro.png");
    -fx-background-size: cover;
}